@model IEnumerable<ProjetoDeLabWeb.Models.PratoDoDia>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

@if (Context.Session.GetString("categoria") == "Admin")
{

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaDaSemana)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPrato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.restaurante)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Foto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaDaSemana)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPrato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.restaurante.IdRestaurante)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdPratoDoDia">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdPratoDoDia">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdPratoDoDia">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h1>Você não tem autorização para aceder a esta página</h1>
}